{% set breadcrumbMicroData = [] %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {% for crumb in breadcrumb %}
            {% if loop.last %}
                <li class="breadcrumb-item active">
                    <span>{{ crumb.label }}</span>
                </li>
            {% else %}
                <li class="breadcrumb-item">
                    <a href="{{ crumb.url }}">{{ crumb.label }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ol>
</nav>


<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {% for crumb in breadcrumb %}
    {{ '{' | raw }}
    {{ '"@type" : "ListItem",' | raw }}
    {{ ('"position" : ' ~ (loop.index + 1) ~ ',') | raw }}
    {{ '"item" : {' | raw }}
    {{ ('"@id" : "' ~ crumb.url ~ '",') | raw }}
    {{ ('"name" : "' ~ crumb.label ~ '"') | raw }}
    {{ '}' | raw }}
    {% if loop.last %}
    {{ '}' | raw }}
{% else %}
{{ '},' | raw }}
    {% endif %}
    {% endfor %}
  ]
}




</script>